*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif ;
  line-height: 150%;
  color: #573a37;
}

body{
  background-image: url(assets/bg.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;

}

img{
  border-radius: 16px;
  width: 100%;
  height: 380px; /* um pouquinho menor pra focar melhor */
  object-fit: cover;
  object-position: center 10%; /* Mover mais pro topo manualmente */
}

main{
  padding: 24px;
}

section + section{
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1{
  line-height: 140px;
  font-size: 40px;
}

h2{
  font-size: 24px;
}

h1,h2{
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 24px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #5d573f;
}

footer img {
  width: 16px; /* força a largura */
  height: 16px; /* força a altura */
  object-fit: contain; /* garante que não vai esticar ou cortar */
  vertical-align: middle; /* deixa alinhado ao texto */
  filter: brightness(0.5)
}